# Build artifacts
build/
*.o
*.out
simulate

# Data & Results
data/inputs/*
!data/inputs/.gitkeep
data/outputs/*
!data/outputs/.gitkeep
*.gal
*.gif
*.bin

# Documentation & Other
*.pdf
*.md
!README.md
!docs/*.md

# IDE
.vscode/
.DS_Store
